<section class="hidden-bar right-align">

    <div class="hidden-bar-closer">
        <button><span class="flaticon-cancel-1"></span></button>
    </div>

    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">

        <div class="logo">
            <a href="index.html">
                <%= image_tag("logo.png", alt: "")%>
            </a>
        </div>
        <div class="content-box">
            <h2>About Us</h2>
            <div class="text">Consectetur adipiscing elit. Maecenas bibendum nisl ut mi cursus maximus. Etiam et eros massa. Vestibulum scelerisque enim pulvinar, aliquam erat sit amet, hendrerit dui</div>
            <a href="#" class="theme-btn btn-style-two">Consultation</a>
        </div>
        <div class="contact-info">
            <h2>Contact us</h2>
            <ul class="list-style-six">
                <li><span class="icon fa fa-map-marker"></span>Rock St 12, Newyork City, USA</li>
                <li><span class="icon fa fa-phone"></span>(000) 000-000-00000</li>
                <li><span class="icon fa fa-envelope-o"></span>sproperty@gmail.com</li>
                <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 <br> Sunday: Closed</li>
            </ul>
        </div>
    </div><!-- / Hidden Bar Wrapper -->

</section>
<!-- End / Hidden Bar -->

<!--Main Slider-->
<section class="main-slider style-v1">

    <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="<%= image_path("main-slider/image-1.jpg", alt: "")%>" data-title="Slide Title" data-transition="parallaxvertical">
                    <%= image_tag "main-slider/image-1.jpg", alt: "", :class => "rev-slidebg", :data => { :bgfit => "cover", :bgparallax => "10", :bgposition => "center center", :bgrepeat => "no-repeat", :no => {:retina => ""} } %>

                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['640','640','640','420']"
                    data-whitespace="normal"
                    data-hoffset="['-30','0','0','0']"
                    data-voffset="['170','150','75','-85']"
                    data-x="['left','left','left','left']"
                    data-y="['bottom','bottom','bottom','bottom']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    <div class="home-detail">
                        <div class="inner">
                            <h3>Luxurious PLot</h3>
                            <div class="text"><%= "Block: #{@plots.last.plot_number}, Street: #{@plots.last.street}, #{@plots.last.town.name}"%></div>
                            <ul class="home-list">
                                <li><%= "#{@plots.last.area.to_i}" %><span>Area Sq-ft</span></li>
                                <li><%= "#{@plots.last.width.to_i}" %><span>Width-ft</span></li>
                                <li><%= "#{@plots.last.length.to_i}" %><span>Length-ft</span></li>
                            </ul>
                            <div class="price">$<%= "#{@plots.last.total_price.to_i}"%></div>
                            <div class="btns-box">
                                <a href="agents-single.html" class="theme-btn btn-style-one">Contact Agent</a>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
    </ul>
</div>
</div>
</section>
<!--End Main Slider-->

<!--End About Section-->

<!--Measurement Section-->
<section class="measurement-section gray_bg">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Home Or Property Of Your Dream</h2>
            <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
        </div>

        <!--Measurement Tabs-->
        <div class="measurement-rooms-tab">

            <!--Measurement Tabs-->
            <div class="measurement-tabs tabs-box">

                <!--Tab Btns-->


                <!--Tabs Container-->
                <div class="tabs-content">

                    <!--Tab / Active Tab-->
                    <div class="tab active-tab" id="drawing">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Plot Details</h3>
                                        <div class="text"><%="#{@plots.last(2).first.description}"%></div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span><%="#{@plots.last(2).first.area.to_i}"%></li>
                                            <li><span class="icon flaticon-sofa"></span><%="#{@plots.last(2).first.total_price.to_i}"%> </li>
                                            <li><span class="icon flaticon-frame"></span><%="#{@plots.last(2).first.town.name}"%></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text"><%="#{@plots.last(2).first.length.to_i}ft x #{@plots.last(2).first.width.to_i}ft" %></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="kitchen">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Kitchen</h3>
                                        <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                            <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                            <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="bedroom">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Bedroom</h3>
                                        <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                            <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                            <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="bathroom">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Bathroom</h3>
                                        <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                            <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                            <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="garage">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Garage</h3>
                                        <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                            <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                            <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="garden">
                        <div class="content">
                            <div class="row clearfix">
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Garden</h3>
                                        <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                            <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                            <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    <div class="image">
                                        <%= image_tag("resource/measurement.jpg", alt: "")%>
                                        <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!--End Measurement Section-->

<!--Fluid Section One-->
<section class="fluid-section-one">
    <div class="outer-container clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url('<%= image_path("resource/image-1.jpg")%>');">
            <figure class="image-box">
                <%= image_tag("resource/image-1.jpg", alt: "")%>
            </figure>
            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-link"><span class="fa fa-play"></span></a>
        </div>
        <!--Content Column-->
        <div class="content-column">
            <div class="inner-box">
                <h2>Our Comfort Features</h2>
                <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
                <div class="row clearfix">

                    <!--Featured Block-->
                    <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                        <div class="featured-inner">
                            <h3>Security</h3>
                            <div class="featured-text">Lorem ipsum dolor amet crucifix edison bulb hoodie subway tile, banh mi paleo everyday carry cold-pressed authentic chambray chicharrones pitchfork.</div>
                        </div>
                    </div>

                    <!--Featured Block-->
                    <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                        <div class="featured-inner">
                            <h3>Managment</h3>
                            <div class="featured-text">Lorem ipsum dolor amet crucifix edison bulb hoodie subway tile, banh mi paleo everyday carry cold-pressed authentic chambray chicharrones pitchfork.</div>
                        </div>
                    </div>

                    <!--Featured Block-->
                    <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                        <div class="featured-inner">
                            <h3>Complain"s</h3>
                            <div class="featured-text">Lorem ipsum dolor amet crucifix edison bulb hoodie subway tile, banh mi paleo everyday carry cold-pressed authentic chambray chicharrones pitchfork.</div>
                        </div>
                    </div>

                    <!--Featured Block-->
                    <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                        <div class="featured-inner">
                            <h3>Give Your Suggeation</h3>
                            <div class="featured-text">Lorem ipsum dolor amet crucifix edison bulb hoodie subway tile, banh mi paleo everyday carry cold-pressed authentic chambray chicharrones pitchfork.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fluid Section One-->

<!--Agents Section-->
<section class="agents-section">
    <div class="auto-container">
        <!--Agents Details-->
        <div class="agents-details-section">

            <div class="carousel-outer clearfix">

                <div class="agent-carousel owl-carousel owl-theme">
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-slide-item">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                    <figure class="image">
                                        <%= image_tag("resource/agent-4.jpg", alt: "")%>
                                        <!--Social Icon One-->
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="inner-column">
                                        <h3>Jonathon Smith</h3>
                                        <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="pull-right col-md-7 col-sm-12 col-xs-12">
                        <div class="thumbs-carousel owl-carousel owl-theme">
                            <figure class="image">
                                <%= image_tag("resource/agent-1.jpg", alt: "")%>
                            </figure>
                            <figure class="image">
                                <%= image_tag("resource/agent-2.jpg", alt: "")%>
                            </figure>
                            <figure class="image">
                                <%= image_tag("resource/agent-3.jpg", alt: "")%>
                            </figure>
                            <figure class="image">
                                <%= image_tag("resource/agent-1.jpg", alt: "")%>
                            </figure>
                            <figure class="image">
                                <%= image_tag("resource/agent-2.jpg", alt: "")%>
                            </figure>
                            <figure class="image">
                                <%= image_tag("resource/agent-3.jpg", alt: "")%>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--Basic Details-->

    </div>
</section>
<!--End Agents Section-->

<!--Gallery Section-->
<!--End Testimonial Section-->

<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>News Update</h2>
            <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
        </div>
        <div class="row clearfix">

            <!--News Block-->
            <% @plots.first(3).each do |plot|%>
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInUp">
                        <div class="image">
                           <%= link_to image_tag("resource/news-8.jpg", border: 0), {action: 'index', controller: 'sale_plot_details'}, {class: 'dock-item'} %>
                        </div>
                        <div class="lower-content">
                             <h3><%= link_to "Luxury Plot in #{plot.town.name}",{"controller"=>"sale_plot_details", "action"=>"index", "id" => "#{plot.id}"}%></h3>
                            <div class="post-date">Price $<span><%= plot.total_price.to_i %></span></div>
                            <div class="text"><%= plot.description %></div>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</section>
<!--End News Section-->

<!--NewsLetter Section-->

<!--End NewsLetter Section-->

<!--Contact Section-->
<section class="contact-section" style="background-image:url('<%= image_path("resource/news-3.jpg")%>')">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Info Column-->
            <div class="info-column col-md-4 col-sm-12 col-xs-12">
                <div class="inner-column wow fadeInLeft">
                    <h2>Location Details</h2>
                    <ul>
                        <li><span>Address</span>2560 Lorem Ave, San Diego, USA</li>
                        <li><span>Phone</span>+00 123 456 7898</li>
                        <li><span>Email</span>contact@donmian.com</li>
                        <li><span>Working Hour</span>Monday - Saturday <br> 10:00 - 20:00</li>
                    </ul>
                </div>
            </div>
            <!--Form Column-->
            <div class="form-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h2>Contact With Us</h2>
                    <!--Default Form-->
                    <div class="default-form">
                        <%= form_for @contactu, :url => town_contact_us_path do |f|  %>
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                    <%= f.text_field :name, placeholder: "Name", required: true %>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                    <%= f.email_field :email, placeholder: "Email", required: true %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                    <%= f.text_area :message, placeholder: "Message", required: true %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                    <%= f.submit "Send Message", :class => "theme-btn btn-style-one" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <!--End Default Form-->
                </div>
            </div>

        </div>
    </div>
</section>

    
<script type="text/javascript">

  $( document ).ready(function() {
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
    var error_text = $('.error_div').text();
    if (  error_text !== "" ){
      $('.add_property_btn').click();
    }
  });
</script>