    <div class="sidebar-page-container" style="margin-top: 90px;">
      <div class="auto-container">
          <div class="row clearfix">
              
                <!--Content Side / Blog Classic-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                  <div class="blog-detail">
            <div class="inner-box">
              <h2>Duplex home purchase for future</h2>
                            <ul class="post-info">
                                <li>Price - <span><%= @plot.total_price %></span></li>
                                <li>Area Sq-ft - <span><%= @plot.area.to_i %></span></li>
                            </ul>
                            <div class="big-image">
                              <img src="images/resource/news-15.jpg" alt="" />
                            </div>
                            <div class="text">
                              <p><%= @plot.description %></p>   
                            </div>
                            <!--post-share-options-->
                        </div>
                        <!--Author Box-->
                        <!--Comments Area-->
                        
                        <!-- Comment Form -->
                        <div class="comment-form">
                                
                            <div class="group-title"><h2>Write Your Comment</h2></div>
                            
                            <%= form_for @contactu, :url => town_contact_us_path do |f|  %>
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                    <%= f.text_field :name, placeholder: "Name", required: true %>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                    <%= f.email_field :email, placeholder: "Email", required: true %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                    <%= f.text_area :message, placeholder: "Message", required: true %>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                    <%= f.submit "Send Message", :class => "theme-btn btn-style-one" %>
                                </div>
                            </div>
                        <% end %>
                                
                        </div>
                        <!--End Comment Form -->
                        
                    </div>
                </div>
                
                <!--Sidebar Side-->
                        <!-- Popular Category -->
               
                        
                        <!-- Latest Posts -->                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>